body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #FE8125;
    color: white;
    padding: 0px 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2{
    color: #3F2D91;
    font-weight: 800;
}

.logo-container {
    color: #000;
    display: flex;
    align-items: flex-end;

}

.logo {
    height: 75px;
    margin-right: 10px;
}

nav a {
    color: #FFFFFF;
    margin-left: 5px;
    text-decoration: none;
    padding: 10px 20px 10px;
    border-radius: 25px;
    background-color: #3F2D91;
}

nav a:hover {
    text-decoration: none;
    background-color: #190964;
}

main {
    padding: 20px;
}

.welcome {
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
}

.disclaimer{
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-left: 5px;
    background-color: #190964;
    color: #ddd;

}

.form-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 40px rgba(0, 0, 0, 0.288);
    max-width: 400px;
    margin: 20px auto;
}

.form-box h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #C4DE45;
}

.form-group {
    margin-bottom: 20px;
}

.form-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #C4DE45;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-input::placeholder{
    color: #C4DE45;
}

.form-input:focus {
    border-color: #4CAF50;
    outline: none;
}

.form-button {
    width: 100%;
    padding: 12px;
    background-color: #3F2D91;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    background-color: #190964;
}

.flash {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.flash.success {
    background-color: #d4edda;
    color: #155724;
}

.flash.danger {
    background-color: #f8d7da;
    color: #721c24;
}

.flash.warning {
    background-color: #fff3cd;
    color: #856404;
}

.password-group {
    position: relative;
}

.password-rules {
    top: 100%; 
    left: 0;
    background-color: #f8f8f8;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: calc(100% -20px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    display: none; 
    display: flex; 
    align-items: center; 
}

.password-rules img {
    width: 24px;
    height: 24px;
    padding: 10px;
}

.password-rules .guideline-text {
    color: #4d4d4dbd;
    font-size: 14px;
    line-height: 1.5;
}

.password-rules.visible {
    display: flex;
}
.password-rules.hidden {
    display: none;
}
.password-rules.valid {
    color: green;
}

/* pop-up */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: relative;
    margin: 10% auto;
    padding: 20px;
    background: white;
    width: 50%;
    border-radius: 10px;
}

.modal-body {
    padding: 10px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-top: 10px;
}

.modal-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-btn {
    background-color: red;
    color: white;
}
.terms{
    font-style: italic;
    font-size: smaller;
}