<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
    <title>HAIL - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="logo-container">
          <img src="{{ url_for('static', filename='images/harmonia logo.jpg') }}" alt="Logo" class="logo">
          <h3>Harmonia Applied Innovation Lab (HAIL) </h3>
      </div>
        <nav>
              <a href="{{ url_for('register') }}">Register</a>
              <a href="{{ url_for('login') }}">Login</a>
        </nav>
    </header>
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
  
</body>
</html>
