{% extends "base.html" %}
{% block title %}Reset{% endblock %}
{% block content %}
<div class="form-container">
    <h2>CONFIRM PASSWORD</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.email.label }}
            {{ form.email(class_="form-input", placeholder="Email") }}
        </div>
        <div class="form-group">
            {{ form.code.label }}
            {{ form.code(class_="form-input", placeholder="Reset Code") }}
        </div>
        <div class="form-group">
            {{ form.new_password.label }}
            {{ form.new_password(class_="form-input", placeholder="New Password") }}
        </div>
        <div class="form-group">
            {{ form.submit(class_="form-button") }}
        </div>
    </form>    
</div>
{% endblock %}
