{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="form-container">
    <h2>LOGIN</h2>
    <form method="POST" class="form-box">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.email(class_="form-input", size=32, placeholder="Email") }}
        </div>
        <div class="form-group">
            {{ form.password(class_="form-input", size=32, placeholder="Password") }}
        </div>
        <div class="form-group">
            {{ form.submit(class_="form-button") }}
        </div>
    </form>
    <a href="{{ url_for('forgot_password')}}"><h3>Forgot Password</h3></a>
</div>
{% endblock %}
