<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
    <title>HAIL - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="logo-container">
          <img src="{{ url_for('static', filename='images/harmonia logo.jpg') }}" alt="Logo" class="logo">
          <h3>Harmonia Advanced Innovation Lab (HAIL) </h3>
      </div>
        <nav>
            
            <a href="{{ url_for('logout') }}">Logout</a>
        </nav>
    </header>
    <main>
      <div class="welcome-container">
        <h2>Welcome, {{ first_name }} {{ last_name }}!</h2>
      </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
        <div class="welcome"><h2>WELCOME TO HARMONIA (HAIL)</h2></div>  
    </main>

</body>
</html>